// Colors

$color1: #000002;
$color2: #212121;
$color3: #ffffff;
$color4: #fa292c;
$color5: #fee9e8;
$color6: #011f05;
// Font family

$font1: 'Montserrat';
$font2: 'Roboto Condensed';

// Font sizes

$fs-xlg: 4.8rem;
$fs-lg: 3.6rem;
$fs-md: 1.8rem;
$fs-sm: 1.4rem;
$fs-xsm: 1.2rem;
