.about-us {
  background-color: $color3;

  &-content {
    min-height: 720px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;

    @include media-breakpoint-down($sm) {
      justify-content: flex-end;
      flex-direction: column-reverse;
      align-items: start;
      padding: 40px 20px;
    }

    &-left {
      margin-right: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;

      @include media-breakpoint-down($md) {
        margin-left: -180px;
      }

      @include media-breakpoint-down($sm) {
        margin-left: 0;
        justify-content: left;
        margin-top: 50px;
        margin-right: 0;
      }

      img {
        width: 100%;
        min-width: 450px;
        max-width: 550px;
        z-index: 100;

        @include media-breakpoint-down($sm) {
          min-width: unset;
        }
      }

      &-background {
        width: 350px;
        height: 500px;
        background-color: $color2;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 10;

        @include media-breakpoint-down($sm) {
          display: none;
        }

        &::before {
          content: 'A progressive design, a powerful engine.';
          position: absolute;
          width: 100%;
          bottom: 25px;
          left: 0;
          color: $color3;
          opacity: 0.5;
          font-size: $fs-xsm;
          font-family: $font1;
          font-style: italic;
          font-weight: 300;
          text-align: center;

          @include media-breakpoint-down($md) {
            content: '';
          }
        }
      }
    }

    &-right {
      max-width: 430px;
    }
  }
}
